body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#Rendering-Elements,
#State-page,
#HandlingEvents,
#UserGuest,
#UserGuest-2,
#LoginControl,
#RenderMailbox,
#RenderClassPage,
#Calculator {
  text-align: center;
}
.FancyBorder {
  border-width: 12px;
  border-style: solid;
}

.FancyBorder-yellow {
  border-color: yellow;
}

.FancyBorder-blue {
  border-color: blue;
}

.SplitPane {
  width: 100%;
  height: 100px;
}

.SplitPane-left {
  float: left;
  width: 30%;
  height: 100%;
}

.SplitPane-right {
  float: left;
  width: 70%;
  height: 100%;
}

.Contacts {
  width: 100%;
  height: 100%;
  background: lightblue;
}

.Chat {
  width: 100%;
  height: 100%;
  background: pink;
}

